// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (max-width: 767px) {
  h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  body {
    background-color: white;
  }

  .scan-btn {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 139, 210, 0.8);
    border-radius: 5px;
    width: 200px;
    height: 100px;
    margin:20px auto;
  }

  .btn-home {
    display: flex;
    justify-content: center;
    padding-top: 105px;
  }

  .scan-btn img {
    width: 70%;
  }

  .scan-btn .btn-primary {
    background-color: rgba(0, 139, 210, 0);
    border:none;
  }

  .btn-primary {
     background-color: rgba(0, 139, 210, 0.8);
     border:none;
  }

  .fa-barcode {
    font-size: 100px;
    color: white;
  }

  .scan-btn-footer {
    position: center;
    justify-content: center;
    background-color: #008bd2;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin: 0 auto;
  }

  .background {
    background-image: url("https://cdn.pixabay.com/photo/2015/10/12/14/53/cyclist-983931_960_720.jpg");
    height: calc(100vh - 70px);
    margin-top:42px;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.4);
    }
  }

  .home-container {
    position: relative;
    padding-top: 50px;
  }


  .home-text {
    color: white;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
  }

  .test {
    background-image: url("https://i.pinimg.com/474x/d7/48/c5/d748c5b0f21fa5232f71bfdce87d2f38.jpg");
    height: 400px;
    width: 100%;
  }

  .test2 {
    background-image: url("https://i.pinimg.com/originals/42/f8/e6/42f8e617a028ffed2a6d16c758e44d9b.jpg");
    height: 400px;
    width: 100%;
  }

  .b-ticket {
    background-color: rgba(255,255,255,0.7);
    border-radius: 4px;
    padding: 20px;
  }

  .home-text {
    text-align: left;
    padding-top:50px;
    color: white;
    font-size: 26px;
    letter-spacing: 1px;
    border-bottom: solid 6px white;
    padding-bottom: 6px;
    width: 78%;
    margin-left: 15px;
    margin-top: -20px
  }

  .content-homepage {
    padding-top: 130px;
    text-align: center;
  }

  .content-homepage .btn-primary {
    font-size: 20px;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: rgba(0, 139, 210, 0.9);
 }

 .content-homepage p {
  padding-top: 100px;
}

  // .test3 {
  //   background-image: url("https://memegenerator.net/img/instances/81923917/cheers-to-your-success.jpg");
  //   height: 400px;
  //   width: 100%;
  // }
}
button {
  text-decoration:underline;
  border:none;
  color: white;
  background: transparent;
}

.input-form {
  border-radius:5px;
  padding:10px;
}

.submit {
  text-decoration:none;
}

