// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (max-width: 767px) {
  h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }

  .scan-btn {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 139, 210, 0.8);
    border-radius: 5px;
    width: 200px;
    height: 100px;
    margin:20px auto;
  }

  .btn-home {
    display: flex;
    justify-content: center;
    padding-top: 105px;
  }

  .scan-btn img {
    width: 70%;
  }

  .scan-btn .btn-primary {
    background-color: rgba(0, 139, 210, 0);
    border:none;
  }

  .btn-primary {
     background-color: rgba(0, 139, 210, 0.8);
     border:none;
  }

  .fa-barcode {
    font-size: 100px;
    color: white;
  }

  .scan-btn-footer {
    position: center;
    justify-content: center;
    background-color: #008bd2;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin: 0 auto;
  }

  .fa-footer {
    font-size: 50px;
    color: white;
  }

  .fa-footer-home {
    font-size: 47px;
    color: white;
  }

  .fa-help {
    font-size: 45px;
    color: white;
  }

  .background {
    background-image: url("https://cdn.pixabay.com/photo/2019/09/28/08/58/mountain-bike-4510246_960_720.jpg");
    height:740px;
    margin-top:42px;
  }

  // .test {
  //   background-image: url("https://i.pinimg.com/474x/d7/48/c5/d748c5b0f21fa5232f71bfdce87d2f38.jpg");
  //   height: 400px;
  //   width: 100%;
  // }
}

