@media (max-width: 767px) {

  .home-lg {
    display: none;
  }

  .background {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .home-container {
    position: relative;
    padding-top: 50px;
  }

  .home-text {
    font-weight: 600;
    font-size: 25px;
    padding-left: 10px;
    text-align: left;
    padding-top:30px;
    color: white;
    letter-spacing: 1px;
    // border-bottom: solid 6px white;
    width: 78%;
    margin-left: 15px;
    margin-top: -20px;
    font-family: 'Mulish', sans-serif;
  }

  .content-homepage input {
    border-radius: 30px;
  }

  .content-homepage {
    padding-top: 130px;
    padding-bottom: 18px;
    text-align: center;
  }

  .content-homepage .btn-primary {
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 25px;
    background-color: rgba(0, 139, 210, 0.9);
 }

 .content-homepage p {
  padding-top: 100px;
  }
}

@media (min-width: 768px) {
  .home-lg {
    color: white;
    padding-top: 150px;
    text-shadow: 2px 2px 12px grey;
  }

  .content-homepage-lg h4 {
    padding-top: 20px;
  }

  .home-container {
    display: none;
  }
}