// Import page-specific CSS files here.
@import "home";
@import "ticket";

.cards-products {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    justify-content: space-evenly;
    margin: 80px 0px;
  }

.card-products h4 {
    text-transform: capitalize;
    font-size:15px;
  }

.card-products {
  text-align: center;
  box-shadow: 2px 2px 12px #B1B1B1 ;
  border-radius: 4px;
  height: 300px;
  width: 100%;
  position:relative;
  background:white;
  margin-bottom: 20px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.02);
  }
}

.card-infos {
  color: #008bd2;
}

.card-price p {
  color: #8f8f8f;
  font-size:20px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}
.card-img-product {
  border-radius: 4px 4px 0px 0px;
  width: 280px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  &:hover {
    opacity: 0.4;
  }
}

/* .container {
  padding-top: 60px;
} */


body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-products .btn {
  padding: 6px 5px;
  border-radius: 4px;
  top:65px;
  left:45px;
  visibility: hidden;
  position:absolute
}

.card-products:hover .btn{
    visibility: visible;
    opacity:1;
    left:13px;
}
.card-products:hover .btn a {
  text-decoration:none;
  color:white;
}
