.ticket-response {
  text-align:center;
}

.ticket-response h4 {
  padding-top: 50px;
}

.text-ticket {
  position:absolute;
  z-index:2;
}

.section {
  border-radius: 15px;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  height: fit-content;
  font-size: smaller;
  font-weight: bold;
}

.form-ticket-text {
  font-size: 20px;
  font-weight: bold;
  color:  #008bd2;
}

.title {
  font-size: 30px ;
}
