.ticket-response {
  text-align:center;
}

.ticket-response {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ticket-response h4 {
  padding-top: 50px;
}

.text-ticket {
  position:absolute;
  z-index:2;
}

/// section = rayon en anglais ;-)

.section {
  border-radius: 30px;
  display: inline-block;
  padding: 5px 15px;
  margin-right: 0.9rem;
  margin-bottom: 0.9rem;
  height: 30px ;
  width: fit-content;
  font-size: 15px;
  font-weight: bold;
}

.form-ticket-text {
  font-size: 20px;
  font-weight: bold;
  color:  #008bd2;
}

.title {
  font-size: 30px ;
}

.form.client-firstname {
  width: 70%
}