<div class="container">
  <h2 style="text-align:center">Scannez votre produit</h2>
  <div class='scan-btn'>
  <%= link_to barcode_path do %>
    <i class="fas fa-barcode"></i>
  <% end %>
  </div>
  <div class='scan-btn'>
    <%= link_to 'Appeler un vendeur', new_ticket_path, :class => 'btn btn-primary' %>
  </div>
</div>
