<div class="background">
  <div class="home-container">
    <h2 class="home-text">Bienvenue dans votre <br> magasin !</h2>
    <div class="content-homepage">
        <%= link_to 'Scanner un produit', barcode_path, :class => 'btn btn-primary' %>
        <p>Saisir le code barre manuellement</p>
    </div>
  </div>
</div>
