<div class="background">
  <div class="home-container">
    <h2 class="home-text"><span style="font-size:50px">Bienvenue</span> <br>dans votre magasin</h2>
    <h2 class="home-text"><span style="background: white; color: #008bd2; font-size: 51px; padding: 0px 10px">AllTricks !</span></h2>
    <div class="content-homepage">
        <%= link_to 'Scanner un produit', barcode_path, :class => 'btn btn-primary' %>
        <p><button id="togg1">Saisir le code barre manuellement</button></p>
          <div id="d1" style='display:none' class="form-card">
            <form action="/scraping?val_barcode=" method="get">
              <div>
              <input id="val_barcode" name="val_barcode" class="input-form">
              <button type="submit" class="btn btn-primary submit">Go</button>
              </div>
            </form>
          </div>
    </div>
  </div>
</div>
