<div class="tickets-container" id="ticket-<%= ticket.id %>">
  <td><%= ticket.client_firstname %></td>
  <td><%= ticket.status %></td>
  <td><%= link_to 'Assigner', assign_ticket_path(ticket) %></td>
</div>