<div id="ticket-show" data-ticket-id="<%= @ticket.id %>">
  <% if @ticket.status == 'En attente' %>
    <div class="container ticket-response" style="padding-top: 60px">
      <div class="content-t" style="padding-top: 160px">
        <h1>Nous recherchons un vendeur disponible pour vous aider</h1>
        <div class="loader">Loading...</div>
      </div>
      <br>
      <div style="padding-top: 100px">
        <%= link_to 'Annuler', new_ticket_path, :class => 'btn btn-primary'%>
      </div>
    </div>

  <% elsif @ticket.status == 'En cours' %>
    <div class="container ticket-response" style="padding-top: 60px">
      <div class="content-t" style="padding-top: 160px">
        <h1><span style="color:#008bd2; font-weight: 900"><%= @ticket.user.nickname %></span> est en chemin</h1>
        <h4>Notre expert <span style="color:#008bd2; font-weight: 900">pédale</span> à votre rescousse</h4>
        <div class="avatar">
          <img src="https://miro.medium.com/max/2600/1*JyYin7G7aGwgD9zpYBZ12Q.png">
        </div>
      </div>
    </div>

  <% else %>
    <div class="container ticket-response" style="padding-top: 60px">
      <div class="content-t" style="padding-top: 80px">
        <h4>Nous espérons que notre conseiller à répondu à vos interrogations</h4>
        <br><br>
        <h1>Merci</h1>
        <div class="heart"></div>
      </div>
      <div style="padding-top: 320px">
        <%= link_to root_path, :class => 'btn btn-primary home' do %>
          <i class="fas fa-home"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


