@media (max-width: 767px) {
  .scan-form button {
  text-decoration:underline;
  border:none;
  color: black;
  background: transparent;
}

.input-form {
  border-radius:5px;
  padding:10px;
}

.submit {
  text-decoration:none;
}
}
