button {
  text-decoration:underline;
  border:none;
  color: white;
  background: transparent;
}

.btn {
  text-decoration: none;
}

.btn-primary {
   background-color: #008bd2;
   border:none;
   transition: transform 0s; /* Animation */
   border-radius: 30px;
  }

.btn-primary:focus {
  transform: scale(1.1);
}

.home {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 30px;
}