.cards-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  justify-content: space-evenly;
  margin: 40px 0px;
}

.card-products h4 {
  font-size: 100%;
}

.card-products {
text-align: center;
box-shadow: 2px 2px 12px grey ;
border-radius: 6px;
height: 100%;
width: 100%;
position:relative;
background:white;
margin-bottom: 20px;
}

.card-infos {
color: #008bd2;
}

.card-price p {
color: #8f8f8f;
font-size:20px;
font-weight: 600;
}

.card-img-product {
border-radius: 4px 4px 0px 0px;
width: 280px;
height: 200px;
object-fit: cover;
margin-bottom: 10px;
}

/////

// .stars {
//   color:#008bd2;
//   font-size: 1rem;
// }

// .card-img-p {
//   position: relative;
// }