.alltricks-Footer {
  height: 60px;
  z-index: 6;
  text-align: center;
  position: fixed;
  display:flex;
  bottom:0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  color: #000;
  background-color: white;
  border-top:solid 2px rgba(0, 0, 0, 0.3);
}

.alltricks-Footer .fas {
  font-size: 22px;
  padding-top: 7px;
  color: #027AB8;
}

.alltricks-Footer p {
  font-size: 14px;
  font-weight: 800;
  padding-bottom: 3px;
}

.active {
  border-bottom: solid 5px #027AB8;
  color: #027AB8!important;
}

.scan-btn-footer {
  background: white !important;
}
