.alltricks-Footer {
  height: 50px;
  z-index: 6;
  text-align: center;
  position: fixed;
  display:flex;
  bottom:5px;
  left: 5px;
  right: 5px;
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  background-color: white;
  border-radius:6px;
}

.alltricks-Footer .fas {
  font-size: 20px;
  padding-top: 2px;
  color: #008bd2;
}

.alltricks-Footer p {
  font-size: 12px;
  font-weight: 800;
  padding-bottom: 2px;
  color: #008bd2;
}

.active {
  border-bottom: solid 0px #008bd2;
  color: #008bd2!important;
}

.scan-btn-footer {
  background: white !important;
}
