.alltricks-Footer {
  height: 50px;
  z-index: 6;
  text-align: center;
  position: fixed;
  display:flex;
  bottom:0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  color: #000;
  background-color: white;
}

.alltricks-Footer .fas {
  font-size: 28px;
  padding-top: 10px;
  color: #04A2F3;
}

.alltricks-Footer .fa-barcode {
  font-size: 36px;
  padding-top: 8px;
}

.active {
  color: #027AB8!important;
  text-shadow: 2px 2px 3px #027AB8;
}

.scan-btn-footer {
  background: white !important;
}