// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "ticket";
@import "footer";
@import "card";


.btn-search-form {
  padding-top: 15px;
}

.search-form {
  margin-top: 60px;
}

.background-search {
  background-image: url("https://cdn.pixabay.com/photo/2015/10/12/14/53/cyclist-983931_960_720.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-search h1 {
  color: white;
  padding-bottom: 10px;
}