@media (max-width: 767px) {
  .alltricks-Header {
  top: 0;
  height: 50px;
  z-index: 6;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  font-family: Roboto,sans-serif;
  color: #04A2F3;
  background-color: white;
  letter-spacing: 1px;
  border-bottom:2px solid grey;
  padding-top: 7px;
  }

  .navbar {
    font-size: 27px;
    text-align: center !important;
    display: inline;
  }

}

