// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Mulish', sans-serif;
  font-size: 100%;
  font-weight: 600;
  margin-bottom: none;
}

@media (max-width: 767px) {
  body.pages_home {
    background-image: url("https://i.pinimg.com/originals/d6/42/65/d64265e5539b75f47df0bc62276731e6.jpg");
  }

  body.products_index {
    background-image: url("https://www.designbolts.com/wp-content/uploads/2018/05/Cycling-Apple-iPhone-X-Wallpaper.jpg");
  }

  body.tickets_new {
    background-image: url("https://images.unsplash.com/photo-1571188654248-7a89213915f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  }

}

body.tickets_index {
  background: #d9d9d9 !important;
}

@media (min-width: 768px) {
  body.pages_home {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/07/15/54/mountain-2605151_1280.jpg");
  }
}


.fa-star {
  color:  #FFD700;
  cursor: pointer;
  font-size: 19px;
}
.review i {
  font-size: 32px;
}
