<!-- <a id="lien" href="#product">AVIS</a> -->
<div>
  <div id="barcode">
    <div id='barcode-scanner'>
    </div>
  </div>
</div>

<hr>
<br>

<div class="progress" >
  <div class="progress-bar" role="progressbar" style="width: 0%; transition-duration: 0s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>

<hr>
<br>

<div>
  <form action="" method="get" class="form-example">
    <div class="form-example">
      <label for="name">Entrez le code-barre: </label>
      <input type="text" name="name" id="name" required>
    </div>
    <div class="form-example">
      <input type="submit" value="Subscribe!">
    </div>
  </form>
</div>


