<!-- <a id="lien" href="#product">AVIS</a> -->
<div>
    <div id="barcode">
      <div id='barcode-scanner'></div>
    </div>
    <div class="progress " >
      <div class="progress-bar" role="progressbar" style="width: 0%; transition-duration: 0s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class= "text">
    <p>Entrez votre code barre manuellement</p>
    </div>
</div>
